body {
  font-family: "Spectral", serif;
  font-weight: 300;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000215;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/141/201/original/black-night.gif?1724784144");
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: royalblue;
}
form {
  display: flex;
}
footer {
  text-align: center;
  margin-top: 30px;
  color: #cdcaff;
}
a {
  color: royalblue;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
.instructions {
  padding: 16px;
  width: 80%;
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
  color: navy;
}
.submit-button {
  margin-left: 10px;
  background-color: navy;
  color: whitesmoke;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
}
.submit-button:hover {
  cursor: pointer;
}
.poem {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
  padding: 20px;
  border-radius: 8px;
  border-left: 4px solid royalblue;
  color: #cdcaff;
}
.hidden {
  display: none;
}
.form-container {
  padding: 30px;
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(14, 72, 222) 5.2%,
    rgb(3, 22, 65) 75.3%
  );
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  opacity: 0.9;
}
.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
  color: #cdcaff;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
